<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'Club Updates' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <InstrumentationKey>d57e3c46-af62-4b15-a624-a1d5b670bd47</InstrumentationKey>
</ApplicationInsights>